.mapouter{
  position:relative;
  text-align:right;
  height:200px;
  width:600px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:200px;
  width:600px;
}
.App-logo {
  height: 48px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main{
  display: block;
}


@media (max-width: 575px) {
  #navbarToggler{
    background-color: #AB2937;
  }
}


.navbar-toggler-icon{
  color: #ffffff;
}

.navbar-brand {
  padding-left: 10px;
  padding-top: 0px;
}
.navbar-toggler:focus{
  background-color: transparent;
  border-color: transparent;
  outline: 1px auto white;
}

